footer.s-footer
  .row.s-footer__content
    .column.xl-6.lg-6.md-12.s-footer__block.s-footer__about
      .footer-logo
        a(href="#top")
          img(src="/images/amenus_logo.png" alt="Amenus Logo")
      p Intimate fiction shaped by longing, tension, and emotional complexity. Written for readers who appreciate subtle sensuality and depth.
  
  .row.s-footer__bottom
    .column.xl-6.lg-12
      ul.s-footer__social.social-list
        li
          span
            a(href="" target="_blank" rel="noopener") © Copyright Amenus 2026
    .column.xl-6.lg-12
      p.ss-copyright
    
    .ss-go-top
      a.smoothscroll(title="Back to Top" href="#top")
        svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="36" height="36" fill="none" stroke="#ffffff" stroke-width="1" stroke-linecap="round" stroke-linejoin="round")
          polyline(points="17 11 12 6 7 11")
          line(x1="12" y1="18" x2="12" y2="6")
